body{background-color: rgb(128,0,0);}

h1{color: white;}

#nav-table{width: 750px;}

#nav-td{ width: 250px;text-align:center;}

p{color: white;}

#diva{
	width: 750px;
	margin: auto;
}

#resize{
	margin: auto;
}

#dance{
	margin: auto;
}

#race{
	margin: auto;
}

#quiz{
	margin: auto;
}

#follow{
	margin: auto;
}

#integer{
	margin: auto;
}

#line{
	margin: auto;
}

#dry{
	margin: auto;
}

#object[
	margin: auto;
}

#frogger{
	margin: auto;
}
